extends layout

block content
  h1= title
  p Welcome to oui #{title}

  #app
    h2 Dashboard Météo 
    p {{ message }}

    div
      strong Température: 
      span {{ temperature }} C
    
    div 
      strong Hygrométrie: 
      span {{ humidity }} %

    div
      strong Pression: 
      span {{ pressure }} Pa

