doctype html
html(lang="en")
  head
    title= title  
    link(rel='stylesheet', href='/stylesheets/style.css')  
    link(rel="stylesheet", href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css", crossorigin="")  
  body
    block content  

    script(src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js")  
    script(src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js", crossorigin="")  
    script(src="https://cdn.jsdelivr.net/npm/chart.js")  
    script(src="/javascripts/main.js")  
